<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="styles.css">
        <meta charset="UTF-8">
        <title>Receipt Page</title>
    </head>
    <body>
        <h1>Receipt Page</h1>

        <div th:if="${usr_id == null || usr_id != owner_usr_id}">
            <p>You have no receipt for this auction</p>
        </div>

        <div th:if="${usr_id != null && usr_id == owner_usr_id}">
            <h3>|Receipt|</h3>
            <p th:text="${'First Name: ' + usr_first_name}"></p>
            <p th:text="${'Last Name: ' + usr_last_name}"></p>
            <p th:text="${'Street: ' + usr_street_name}"></p>
            <p th:text="${'Number: ' + usr_street_number}"></p>
            <p th:text="${'City: ' + usr_city}"></p>
            <p th:text="${'Province: ' + usr_province}"></p>
            <p th:text="${'Country: ' + usr_country}"></p>
            <p th:text="${'Postal Code: ' + usr_postal_code}"></p>
            <p th:text="${'Total Paid: $' + pay_amount}"></p>
        </div>

        <div th:if="${usr_id != null && usr_id == owner_usr_id}">
            <h3>|Shipping|</h3>

            <p>Your item will ship in 3 days</p>
        </div>

        <button id="back-button" type="button" onclick="window.location.href = `${window.location.protocol}//${window.location.host}/auctions`">Back</button>

    </body>

    <script th:src="@{/logout.js}"></script>
</html>